<!DOCTYPE html>
<html lang="ru">


{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/create_order.css' %}">
{% endblock %}

{% block content %}


    <!-- Детали заказа -->
<form action="{% url 'orders:create_order' %}" method="post">
    <div class="container">
        <div class="card col-md-6 col-xl-6" id="card_3">
            <h3 class="text-center">Оформление заказа</h3>
        </div>
        <div class="card col-md-6 col-xl-6">
            <div class="card-body">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_first_name" class="form-label">Имя:</label>
                            <input type="text" class="form-control" id="id_first_name"
                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                name="first_name" required readonly>
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="id_last_name" class="form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name"
                            value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                            required readonly>
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="id_phone_number" class="form-label">Номер телефона:</label>
                            <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                                value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                required readonly>
                            {% if form.phone_number.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="row">

                            <div class="card-body col-md-6 " id="DeliveryTime">

                                <h5> Время доставки </h5>

                                <input class="form-control"
                                       id="delivery_time"
                                       type="time"
                                       value="{% if form.delivery_time.value %}{{ form.delivery_time.value }}{% endif %}"
                                       name="delivery_time">
                            </div>

                            <div class="card-body col-md-6 " id="DeliveryDate">
                                <h5>День доставки: &nbsp;</h5>
                                <input  class="form-control"
                                        type="date"
                                        name="delivery_date"
                                        id="delivery_date"
                                        value="1955-11-05">
                            </div>


                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="id_requires_delivery" class="form-label">Способ получения: </label>
                            <div class="d-flex flex-row">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="requires_delivery"
                                        id="id_requires_delivery" value="1" checked>
                                    <label class="form-check-label" for="id_requires_delivery">
                                        Доставка
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="requires_delivery"
                                        id="id_requires_delivery" value="0">
                                    <label class="form-check-label" for="id_requires_delivery">
                                        Самовывоз
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" id="deliveryAddressField">
                            <label for="id_delivery_address" class="form-label">Адрес
                                доставки*:</label>
                            <textarea class="form-control" id="id_delivery_address"
                                value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
                                name="delivery_address" rows="2"></textarea>
                            {% if form.delivery_address.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.delivery_address.errors}}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Способ оплаты: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_on_get"
                                    id="id_payment_on_get" value="0" checked>
                                <label class="form-check-label" for="id_payment_on_get">
                                    Карта
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_on_get"
                                    id="id_payment_on_get" value="1">
                                <label class="form-check-label" for="id_payment_on_get">
                                    Наличными
                                </label>
                                {% if form.payment_on_get.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.payment_on_get.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="id_deduct_points" class="form-label">Списать баллы: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="deduct_points"
                                    id="id_deduct_points" value="1" data-user="{{request.user}}" href = "{% url 'orders:deduction_of_points' %}">
                                <label class="form-check-label" for="id_deduct_points">
                                    Да
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="deduct_points"
                                    id="id_deduct_points" value="0" checked data-user="{{request.user}}" href = "{% url 'orders:deduction_of_points_not' %}">
                                <label class="form-check-label" for="id_deduct_points">
                                    Нет
                                </label>
                                {% if form.deduct_points.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.deduct_points.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card" id="card_7">
                            <div class="card-body d-flex flex-row">
                                <h4 class="float-left">Итог</h4>
                            </div>

                            <div class="card-footer d-flex flex-row" id="order_price_and_points">

                                        {% include "orders/price_weight_points_not.html" %}

                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6" id="container_1">
        <button type="submit" class="btn btn-lg btn-success" id="button_6">Оформить заказ</button>
        </div>
    </div>
</form>


{% endblock  %}