/* цвет кнопки ЗАКАЗАТЬ на главном экране */
#start-purchase-btn {
    background-color: #191970 !important;
    border-color: #191970 !important;
    color: white;
}

/* цвет текста в кнопке заказать */
#start-purchase-link {
    text-decoration: none;
    color: white;
}

 /* рекламный текст на главной странице */
#Advertising-text {
    text-decoration: none;
    color: #800000;
    font-size: 25px;
}

.card {
    margin-top: 1.2rem;
       margin-left: auto;
       margin-right: auto;
       max-width: 90%;
    backdrop-filter: blur(0.2rem);
    background-color: rgb(141 110 82 / 75%) !important;

}

.card-title {
    color: white !important;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.list-group-item {
    backdrop-filter: blur(0.2rem);
    border-color: rgb(92 57 27 / 100%) !important;
    background-color: rgb(141 110 82 / 100%) !important;
        color: white !important;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#filters_1 {
    color: white !important;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#dropdown_1 {
    z-index: 9997;
    background-color: rgb(141 110 82 / 90%) !important;
    border-color: rgb(92 57 27 / 90%) !important;
    margin-top: 1.2rem;
}

#dropdown_menu_1 {
  background-color: rgb(0 0 0 / 0%) !important;
  border-color: rgb(0 0 0 / 0%) !important;
}

.page-link {
    background-color: rgb(141 110 82 / 90%) !important;
    border-color: rgb(92 57 27 / 90%) !important;

}
#pred {
    color: white !important;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
#sled {
    color: white !important;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#exampleModal {
    z-index: 9999;
    color: white !important;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#modal_content_1 {
    background-color: rgb(141 110 82 / 100%) !important;
    border-color: rgb(92 57 27 / 100%) !important;
    .modal-header {
        border-bottom: 1px solid rgb(92 57 27) !important;
    }
}