
{% extends 'products/base.html' %}
{% load static %}



{% block css %}
<link rel="stylesheet" href="{% static '/vendor/css/basket.css' %}">
{% endblock %}


{% block content %}
<!-- Page Content -->
<!-- Оформленные заказы -->
<h1>&nbsp;</h1>
<div class="col-md-12">
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <h3 class="text-center mb-4">Мои заказы</h3>
        <!-- Разметка заказов -->
        <div class="container">
            <div class="accordion" id="accordionExample">
                {% for order in orders %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ order.id }}">
                        <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false"
                            aria-controls="collapse{{ order.id }}">
                            Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong
                                class="mx-2">{{order.status}}
                        </strong>
                        </button>
                    </h2>
                    <div id="collapse{{ order.id }}"
                        class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}"
                        aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body table-responsive">
                            <table class="table table-dark table-hover table-striped table-border">
                                <thead>
                                    <tr>
                                        <th>Товар</th>
                                        <th>Количество</th>
                                        <th>Цена за единицу</th>
                                        <th>Масса единицы</th>
                                        <th>Общая стоимость</th>
                                        <th>Общая масса</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.orderitem_set.all %}

                                    <tr>
                                        <td>
                                            <a class="text-white">
                                            {{ item.product.name }}
                                            </a>
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price  }}</td>
                                        <td>{{ item.weight  }}</td>
                                        <td>{{ item.products_price}}</td>
                                        <td>{{ item.products_weight}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Закончилась разметка заказов -->

{% endblock %}