<!DOCTYPE html>
<html lang="ru">
{% extends 'products/base.html' %}
{% load static %}



{% block css %}
<link rel="stylesheet" href="{% static '/css/history_of_orders.css' %}">
{% endblock %}


{% block content %}
{% csrf_token %}
<head>
    <meta name="robots" content="all"/>
    <meta name="robots" content="noarchive"/>
</head>
<!-- Page Content -->
<!-- Оформленные заказы -->
<h1>&nbsp;</h1>
<div class="container">
    <div class=" card">
        <div class="card-body">
            <h3 class="text-center mb-4" id="h3_top">Ваши заказы</h3>
            <!-- Разметка заказов -->
        </div>
        <div id="jq-notification"
             class="position-fixed start-50 translate-middle-x z-3 alert alert-success fade show custom-shadow"
             style="display: none;" role="alert">
        </div>
            <div class="accordion" id="accordionExample">
                {% for order in orders %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ order.id }}">
                        <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false"
                            aria-controls="collapse{{ order.id }}">
                            Заказ № {{ order.id }} | Время доставки: {{ order.delivery_datetime }} |
                            Способ оплаты: {% if order.payment_on_get == True %} Наличными при получении {% else %} Карта {% endif %} |
                            Суммарная стоимость: {{order.total_cost}} руб. |
                            Оплачен: {% if order.is_paid == True %} Да {% else %} Нет {% endif %} |
                            Статус: {{order.status}}
                        </button>
                    </h2>
                    <div id="collapse{{ order.id }}"
                        class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}"
                        aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body table-responsive">
                            <table class=" ">
                                <thead>
                                    <tr>
                                        <th>Товар</th>
                                        <th>Количество</th>
                                        <th>Цена за единицу</th>
                                        <th>Масса единицы</th>
                                        <th>Общая стоимость</th>
                                        <th>Общая масса</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.orderitem_set.all %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price  }}</td>
                                        <td>{{ item.weight  }}</td>
                                        <td>{{item.products_price}}</td>
                                        <td>{{item.products_weight}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>
</div>

<!-- Закончилась разметка заказов -->
<script src="{% static '/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static '/js/robokassa_paid_yes_or_not_message.js' %}"></script>
{% endblock %}


</html>