<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load basket_tags %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon"/>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap core JS-->
    <script defer src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- base css -->
    <link rel="stylesheet" href="{% static '/css/base.css' %}">

    <!-- Custom styles for this template -->
    {% block css %} {% endblock %}


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top border-bottom-dark">
    <div class="container">
        <a class="navbar-brand " href="{% url 'index' %}" style="font-family:FoglihtenNo06" id="logotype">
            <img src="/static/img/Logo_p.png" alt="logotip" height="56px" width="56px"/> Кафе Олимп</a>

        <button class="navbar-toggler" id="button-burger" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="button_1">
                    <a class="nav-link active" href="{% url 'we' %}">
                        О нас <i class="fa fa-heart" aria-hidden="True"></i>
                    </a>
                </li>
                <li class="nav-item" id="button_2">
                    <a class="nav-link active" href="{% url 'products:index' %}">
                        Меню
                        <i class="fa fa-book" aria-hidden="True"></i>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item" id="button_3">
                    <a class="nav-link active" href="{% url 'basket' %}">
                        Корзина
                        <span id="goods-in-basket-count">{% basket_quantity user=request.user %}</span>
                        <i class="fa fa-shopping-basket" aria-hidden="True"></i>

                    </a>
                </li>
<!--выпадающее меню-->
                <li class="nav-item  dropdown" id="button_4">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">
                                Профиль
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:history_of_orders' %}">
                                История заказов
                            </a>
                        </li>
                        {% if user.is_superuser or user.is_staff %}
                        <li>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">
                                Админ-панель
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'users:login' %}" id="button_10">Войти <i class="fas fa-sign-in-alt"></i></a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
{% block content %} {% endblock %}


<!-- Bootstrap core JavaScript -->
<script src="{% static '/jquery/jquery-3.7.1.min.js' %}"></script>

<!-- FontAwesome script -->
<script src="{% static '/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>

<!--JS ajax -->
<script src="{% static '/js/jquery-ajax.js' %}"></script>
</body>

</html>