{% load order_dop %}
{% if baskets %}
<a>&nbsp;</a>

<div class="card align-items-center" id="card_1">
                        <h4 class="" id="h4_1">
                            Корзина
                        </h4>

                        <h4 class="" id="h4_2">
                            Всего баллов: {% viewing_points user=request.user%}
                        </h4>
</div>

                    {% for basket in baskets %}

                            <div class="card mb-3 border-dark" >
                                <div class="card-body">
                                    <h5>{{ basket.product.name }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="text-center input-group" id="quantity">

                                            <div class="col-lg-3" >
                                                <div class="d-flex d-inline flex-row bd-highlight mb-6">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary btn-lg decrement" data-basket-id="{{ basket.id }}" data-basket-change-url="{% url 'products:basket_change' %}">{% csrf_token %} -</button>
                                                    </span>
                                                    <input type="text" class="form-control number prov_1 text-center" value="{{ basket.quantity }}" readonly>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary btn-lg increment" data-basket-id="{{ basket.id }}" data-basket-change-url="{% url 'products:basket_change' %}">{% csrf_token %} +</button>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 basket_spw basket_quantity_1">{{ basket.sum_price }} руб.</div>
                                            <div class="col-lg-3 basket_spw basket_quantity_1">{{ basket.sum_weight }} гр.</div>
                                            <div class="col-lg-3 basket_quantity_1">

                                                <a href="{% url 'products:basket_remove' %}" class="remove-from-basket" data-basket-id="{{ basket.id }}">
                                                    {% csrf_token %}
                                                    <i class="fas fa-trash"></i>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <div class="basket_spw basket_quantity_2">{{ basket.sum_price }} руб.</div>
                                            <div class="basket_spw basket_quantity_2">{{ basket.sum_weight }} гр.</div>
                                            <div class="basket_quantity_2">

                                                <a href="{% url 'products:basket_remove' %}" class="remove-from-basket" data-basket-id="{{ basket.id }}">
                                                    {% csrf_token %}
                                                    <i class="fas fa-trash"></i>
                                                </a>


                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                    {% endfor %}

                        <div class="card border-dark mb-3   " id="card_2">
                            <div class="card-body d-flex flex-row">
                                <h4 class="float-left">Предварительный итог</h4>
                            </div>

                            <div class="card-footer">
                                <div class="d-flex flex-row">
                                    <h4 class="float-right">{% basket_total_sum_price user=request.user %} руб.</h4>
                                    <a>&nbsp;</a>
                                    <a>&nbsp;</a>
                                    <h4 class="float-right">{% basket_total_sum_weight user=request.user %} гр.</h4>
                                </div>
                            </div>
                        </div>


                        <a type="button" class="btn btn-success btn-lg" id="button_5"
                           data-product-id="{{product.id}}" href="{% url 'orders:create_order' %}">
                            Перейти к оформлению
                            {% csrf_token %}
                        </a>

{% else %}
    <h1>&nbsp;</h1>
    <h1 class="mt-3 mb-3 text-center" id="basket_void">
                Корзина пуста <i class="fas fa-frown" aria-hidden="True"></i>
    </h1>
        <div class="col text-center">
                <a type="button" class="btn btn-primary btn-lg" id="start-purchase-link" href="{% url 'products:index' %}">
                        Закажите из меню !
                </a>
        </div>

{% endif %}