<!DOCTYPE html>
<html lang="ru">
{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/products.css' %}">
{% endblock %}

{% block content %}
<head>
    <meta name="robots" content="all"/>
    <meta name="robots" content="noarchive"/>
</head>
<!-- Page Content -->
<div class="container">
    <h1>&nbsp;</h1>
    <div class="row">
        <div class="col-lg-2">
            <div class="dropdown card text-center " data-bs-theme="dark" id="dropdown_1">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i id="filters_1">Фильтры </i><i class="fa fa-sliders"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" id="dropdown_menu_1">
                    <li>
                        <div class="list-group">

                            {% for category in categoryes %}
                            <a href="{% url 'products:category' category.id %}" class="list-group-item">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            {% if products_value == 0 %}
            <div class="mb-4 text-center">
                <h1>В этой категории либо нет блюд, либо они закончились</h1>
            </div>
            {% else %}
            <div id="jq-notification"
                 class="position-fixed start-50 translate-middle-x z-3 alert alert-success fade show custom-shadow"
                 style="display: none;" role="alert">
            </div>
            <div id="jq-notification-warning"
                 class="position-fixed start-50 translate-middle-x z-3 alert alert-warning fade show custom-shadow"
                 style="display: none;" role="alert">
            </div>
            <div class="row">
                {% for product in products %}

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a>
                            <img class="card-img-top" src="{{ product.image.url }}" alt="">
                        </a>
                        <div class="card-body mx-auto">
                            <h4 class="card-title text-center">
                                <a>{{ product.name }}</a>
                            </h4>
                            {% if product.weight != 1 %}
                                <div class="text-center card-title">
                                    <h5 class>{{ product.price }} руб. — {{ product.weight }} гр.</h5>
                                </div>
                                <div class="text-center card-title">
                                    <p class>Мин. масса заказа: {{ product.min_quantity_by_weight }} гр.</p>
                                </div>
                            {% elif product.number_of_pieces != 0 %}
                                <div class="text-center card-title">
                                    <h5 class>{{ product.price }} руб. — {{ product.number_of_pieces }} ед.</h5>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer text-center d-flex justify-content-between">
                            {% if user.is_authenticated %}

                            <a class="btn btn-success add-to-basket" href="{% url 'products:basket_add' %}"
                               data-product-id="{{product.id}}" data-min-quantity-product="{{ product.product_min_quantity }}" data-product-mass="{{ basket.sum_weight }}">
                                Отправить в корзину
                            </a>

                            {% else %}

                            <a class="btn btn-success add-to-basket" href="{% url 'products:basket_none' %}">
                                Отправить в корзину
                            </a>

                            {% endif %}
                            <button type="button" id="modalButton" class="btn btn-primary"
                                    data-product-id="{{product.id}}" href="{% url 'products:product_details' %}">  <!--не трогать href-->
                                Описание
                            </button>
                            {% csrf_token %}

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    {% include "products/product_details.html" %}
                </div>

                {% endfor %}
            </div>
            {% endif %}

        </div>

        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if products.has_previous %} {% url 'products:paginator' products.previous_page_number %} {% else %} # {% endif %}"
                       tabindex="-1" aria-disabled="true" id="pred">❮
                    </a>
                </li>
                {% endif %}
                {% for page in products.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" id="page_link" href="{% url 'products:paginator' page %}">
                        {{page}}
                    </a>
                </li>
                {% endfor %}
                {% if products.has_next %}
                <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if products.has_next %} {% url 'products:paginator' products.next_page_number %} {% else %} # {% endif %}"
                       id="sled">❯
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </div>

</div>

{% endblock %}

