<div class="modal-dialog">
    <div class="modal-content" id="modal_content_1">
        <div class="modal-header mx-auto d-flex flex-column">
            <img class="card-img-top" src="{{ product.image.url }}">
            <h1 class="modal-title fs-3" id="exampleModalLabel">{{ product.name }}</h1>
        </div>
        <div class="modal-body">
            {% if product.weight != 1 %}
                <h5 class="text-center">Цена {{product.price}} рублей за {{product.weight}} грамм(ов)</h5>
            <div class="text-center card-title">
                <h5 class>Минимальная масса заказа: {{ product.min_quantity_by_weight }} гр.</h5>
            </div>
            {% elif product.number_of_pieces != 0 %}
                <h5 class="text-center">Цена {{product.price}} рублей за {{ product.number_of_pieces }} единицу(ы)</h5>
            {% endif %}
            <h4>Состав:</h4>
            <h5>{{ product.description }}</h5>
        </div>

    </div>
    <div class="modal-footer border-0">
        <button type="button" id="button-close" class="btn btn-secondary btn-lg " data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>
