<!DOCTYPE html>
<html lang="en">
{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static '/css/we.css' %}">
{% endblock %}

{% block content %}
<h4>&nbsp;</h4>
<div class=" container ">
<div class="card">
  <div class="card-body">

            <h2 class="card-title text-center">Информация о нас</h2>

      <hr>
            <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <p>Мы проводим:</p>
                    <p>• Банкеты</p>
                    <p>• Выпускные</p>
                    <p>• Юбилеи</p>
                    <p>• Свадьбы</p>
                    <p>• Корпоративы</p>
                    <p>• Поминки</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <hr class="hr_3">
                        <p>Вместимость:</p>
                    <p>• Основной зал на 180 гостей</p>
                    <p>• Банкетный зал на 60 гостей</p>
                    <p>• VIP-1 зал на 18 гостей</p>
                    <p>• VIP-2 на 15 гостей</p>
                    <p>• Летняя терраса на 80 гостей</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <hr class="hr_2">
                        <p>Зоны доставки:</p>
                    <p>• г. Кстово</p>
                    <p>• г.о. Старое Кстово</p>
                    <p>• пос. Ждановский</p>
                    <p>• с. Безводное</p>
                    <p>• с. Запрудное</p>
                    <p>• дер. Толстобино</p>
                    <p>• дер. Новоликеево</p>
                </div>
              </div>
            </div>

            <div class="container text-center">
                <hr>
              <div class="row align-items-start">
                <div class="col">
                  <p>Кухня:</p>
                    <p>• русская</p>
                    <p>• европейская</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <p>Оплата:</p>
                    <p>• Наличными</p>
                    <p>• Безналичный расчёт</p>
                    <p>• СБП</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <hr class="hr_2">
                        <p>Мероприятия:</p>
                    <p>• Живая музыка (Пт, Сб)</p>
                    <p>• Выступления артистов</p>
                </div>
              </div>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                            <hr>
                        <h2>Информация для связи</h2>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">

                        <p>Информация | Бронь:</p>
                        <p>8 (831-45) 2-26-58</p>
                        <p>+7 (920) 024-29-09</p>
                        <p>Руководство:</p>
                        <p>Управляющая: +7 (920) 060-87-77 Татьяна Б.</p>
                        <p><a href="https://vk.com/olimpkafe">Наша группа ВК</a></p>
                        <p>Адрес:</p>
                        <p>Нижегородская обл., г. Кстово, ул. Зелёная, д. 15</p>
                    </div>
                </div>
            </div>
    </div>
</div>
    </div>

{% endblock %}