<!DOCTYPE html>
<html lang="en">
{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static '/css/we.css' %}">
{% endblock %}

{% block content %}
<h4>&nbsp;</h4>
<div class=" container ">
<div class="card">
  <div class="card-body">

            <h2 class=" text-center">Информация о нас</h2>

      <hr>
            <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <p>Мы проводим:</p>
                    <p>• Банкеты</p>
                    <p>• Выпускные</p>
                    <p>• Юбилеи</p>
                    <p>• Свадьбы</p>
                    <p>• Корпоративы</p>
                    <p>• Поминки</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <hr class="hr_3">
                        <p>Вместимость:</p>
                    <p>• Основной зал на 180 гостей</p>
                    <p>• Банкетный зал на 60 гостей</p>
                    <p>• VIP-1 зал на 18 гостей</p>
                    <p>• VIP-2 на 15 гостей</p>
                    <p>• Летняя терраса на 80 гостей</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <hr class="hr_2">
                        <p>Зоны доставки:</p>
                    <p>• г. Кстово</p>
                    <p>• г.о. Старое Кстово</p>
                    <p>• пос. Ждановский</p>
                    <p>• с. Безводное</p>
                    <p>• с. Запрудное</p>
                    <p>• дер. Толстобино</p>
                    <p>• дер. Новоликеево</p>
                </div>
              </div>
            </div>

            <div class="container text-center">
                <hr>
              <div class="row align-items-start">
                <div class="col">
                  <p>Кухня:</p>
                    <p>• русская</p>
                    <p>• европейская</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <p>Оплата:</p>
                    <p>• Наличными</p>
                    <p>• Безналичный расчёт</p>
                    <p>• СБП</p>
                    <hr class="hr_1">
                </div>
                <div class="col">
                    <hr class="hr_2">
                        <p>Мероприятия:</p>
                    <p>• Живая музыка (Пт, Сб)</p>
                    <p>• Выступления артистов</p>
                </div>
              </div>
            </div>

            <div class="container text-center">
                <hr>
              <div class="row align-items-start">
                <div class="col">
                        <p>Информация для связи:</p>
                        <p>Информация | Бронь:</p>
                        <p>8 (831-45) 2-26-58</p>
                        <p>+7 (920) 024-29-09</p>
                        <p>Руководство:</p>
                        <p>Управляющая: +7 (920) 060-87-77 Татьяна Б.</p>
                        <p><a href="https://vk.com/olimpkafe">Наша группа ВК</a></p>
                        <p>Адрес:</p>
                        <p>Нижегородская обл., г. Кстово, ул. Зелёная, д. 15</p>
                </div>
                  <div class="col">
                    <hr class="hr_2">
                    <p>Реквизиты организации:</p>
                    <p>• ИНН 5250068988 / КПП 525001001</p>
                    <p>• ОГРН  1175275076503</p>
                    <p>• Свидетельство о постановке на учёт от 03.11.2017 г.</p>
                    <p>• Волго-Вятский Банк Сбербанка России г. Нижний Новгород</p>
                    <p>• БИК 042202603</p>
                    <p>• р/сч. 4072810242000009691</p>
                    <p>• Юрид. адрес: 607690, Нижегородская обл., Кстовский район, село Запрудное, кв-л Олимпийский, д. 1, оф. 1</p>
                    <p>• Почт. адрес: 607690, Нижегородская обл., Кстовский район, ул. Зелёная, д. 15</p>
                    <p>• Директор: Гулусой Мансур Монсул оглы, действующий на основании Устава.</p>
                    <p>• ОКТМО 22537000</p>
                </div>
                <div class="col">
                    <p>Условия возврата товара:</p>
                    <p>Возврату подлежат продукты питания ненадлежащего качества при условии, что недостаток возник до передачи товара покупателю.</p>
                    <h5>Продукт является товаром ненадлежащего качества, если:</h5>
                    <p>• имеет неприятный, несвойственный ему запах</p>
                    <p>• имеет несвойственный ему цвет</p>
                    <p>• внутри продукта есть сторонние организмы или предметы</p>
                    <hr class="hr_1">
                </div>
              </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h2>О программе лояльности:</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>• Совершая покупку от 1000 рублей и до 5000 рублей, начисляются баллы с каждой покупки равные 2% от её стоимости</p>
                        <p>• Совершая покупку от 5000 рублей, начисляются баллы с каждой покупки равные 5% от её стоимости</p>
                        <p>• Так же учитывается при начислении баллов покупали ли вы суммарно в течении 3-ёх месяцев и на какую сумму. Если сумма покупок и ваша нынешняя покупка больше 1000 рублей, но меньше 5000 рублей, то вам начисляется 2% от стоимости покупки. Если сумма покупок и ваша нынешняя покупка больше 5000 рублей, то вам начисляется 5% от стоимости покупки</p>
                        <p>• Бонусные баллы вы получаете на сайте в свой профиль</p>
                        <p>• Потратить их вы можете при совершении следующей покупки, полностью или частично оплатив стоимость покупки</p>
                        <p>• Баллы программы лояльности сбрасываются раз в 3 месяца считая с начала года</p>
                    </div>
                </div>
            </div>
    </div>
</div>
    </div>

{% endblock %}